node_modules/
dist/
dist-ssr/
coverage/
docs/

.env
.env.*
.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.md

package-lock.json
